<% title(@car.registration_number, "Cars") %>

<div class="page-header">
  <h1>Cars Management
    <small>Manage cars here</small>
  </h1>
</div>
<div class="row">
  <div class="span10">
    <small>
    </small>
    <h2>Details for <%= @car.registration_number %></h2>
      <%= @car.make %>
      <%= @car.model %>
      <%= @car.registration_number %>
      <%= @car.hourly_rate %>
    </div>
    <div class="span4">
    </div>
</div>
